<nav class="navbar-geral">

    <img src="../assets/images/cyberNexus.png" alt="Logo" class="logo-cyber">

    <div class="navbar-item" id="mynavbar">
        <ul class="lista-item">
            <li class="nav-item">
                <a class="nav-link" href="*">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Mídia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Treinamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Sobre</a>
            </li>
        </ul>
        <form class="form-item">
            <button class="btn-primeiro" type="button">Fale Conosco</button>
            <input class="barra-pesquisa" type="text" placeholder="Pesquisa...">

        </form>
    </div>
</nav>
<div class="container-nav-bar">
    <router-outlet></router-outlet>
</div>
<div class="div-segunda">
    <img src="../../../assets/images/stop-CyberBulling.png" alt="não CyberBulling" class="stop-bulling">
    <button class="btn-segundo">Fale Conosco</button>
</div>
<div class="artigos-div">
    <h1 class="titulo-1">Cyberbullying - CONSEQUÊNCIAS AO AGRESSOR</h1>

    <img src="../assets/images/cyberbullying.png" alt="Cyberbulling" class="img-artigo">
 
    <h2 class="titulo-2">CONSEQUÊNCIAS AO AGRESSOR</h2>

    <p class="artigo-1">Em nosso ordenamento jurídico a 
        <br>regulamentação sobre a questão do bullying 
        <br>ainda está em fase de construção, no entanto, 
        <br>nossa Constituição Federal quando garante os 
        <br>direitos fundamentais, proíbe qualquer tipo de 
        <br>violência, incluindo o bullying.
        <br>
        <br>Além do mais, temos também o Estatuto da Criança 
        <br>e do Adolescente (ECA) que estabelece medidas 
        <br>socioeducativas a jovens que cometem infrações, 
        <br>podendo dessa forma ser utilizado para reeducar
        <br>jovens que cometeram esse tipo de violência.
        <br>
        <br>A prática do bullying não está tipificado em nosso 
        <br>Código Penal, contudo, as formas de agressão podem
        <br>ser enquadradas como prática de outros crimes.
    </p>
</div>